<html>
	<head>
		<title>Ali's Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Ali's Blog</a></h1>
		</div>

		<div>
			<p>published: 22.04.2017, 11:03</p>
			<h2><a href="">My first post</a></h2>
			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.Donec 				id elit non mi porta gravida at eget metu.</p>
		</div>
		<div>
			<p>published: 22.04.2017, 11:03</p>
			<h2><a href="">My second post</a></h2>
			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.</p>
		</div>
	</body>
</html>
